@import '@/app/constants';

.projectItem {
  display: flex;
  margin: 0 0 120px 0;
  min-height: 300px;

  .projectPreview {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 5% 0 0;
    width: 60%;

    img {
      width: 100%
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;

    h2 {
      margin: 0 0 13px 0;
      padding: 0;
      font-weight: 700;
      font-size: 24px;
      color: $main-text-bold;
    }

    p {
      margin: 0 0 30px 0;
      font-weight: 400;
      font-size: 22px;
      color: $main-text;
    }
  }

  @media (max-width: 900px) {
    flex-direction: column;

    .projectPreview {
      width: 100%;
      margin: 0 0 30px 0;
    }

    .description {
      width: 100%;
    }
  }
}